data
.RData
.RDataTmp
.Rhistory
obesity_inflam.Rproj
.Rproj.user
.RDataTmp1
Rproj.user/B7861D2B/pcs/files-pane.pper
.Rproj.user/B7861D2B/pcs/source-pane.pper
.Rproj.user/B7861D2B/pcs/windowlayoutstate.pper
.Rproj.user/B7861D2B/pcs/workbench-pane.pper
.Rproj.user/B7861D2B/saved_source_markers
.Rproj.user/B7861D2B/sdb/prop/1DC11A70
.Rproj.user/B7861D2B/sdb/prop/2C1D1D2C
.Rproj.user/B7861D2B/sdb/prop/35E98445
.Rproj.user/B7861D2B/sdb/prop/697A7355
.Rproj.user/B7861D2B/sdb/prop/719DF71E
.Rproj.user/B7861D2B/sdb/prop/825921B9
.Rproj.user/B7861D2B/sdb/prop/92FB3A24
.Rproj.user/B7861D2B/sdb/prop/AC3F0B33
.Rproj.user/B7861D2B/sdb/prop/B6AD65C4
.Rproj.user/B7861D2B/sdb/prop/BD2A7DC2
.Rproj.user/B7861D2B/sdb/prop/F4D8F0DF
.Rproj.user/B7861D2B/sdb/prop/FEDA3589
.Rproj.user/B7861D2B/sdb/prop/INDEX
.Rproj.user/B7861D2B/sdb/s-6DCDBE33/276563D8
.Rproj.user/B7861D2B/sdb/s-6DCDBE33/2B359D90
.Rproj.user/B7861D2B/sdb/s-6DCDBE33/4CE93CBA
.Rproj.user/B7861D2B/sdb/s-6DCDBE33/lock_file
